{{ with . }}

{{ if .certificate}}
<h2>Certificate</h2>
<p>
  The journey through the course is a challenging one! Our courses are packed with insights and will take time to sink in. You will be awarded with a Certificate of Mastery when you complete 95% of the course work.
</p>
<div class="certificate">
  <img loading="lazy" src="{{.certificate}}"></img>
</div>
<p>
  What you see above is a sample certificate. The design of this certificate will be modified from time to time to make it more shiny and reflect the rightly earned pride!
</p>
<p>
  There will always be a dedicated certificate identification number to verify it with us. This should enable anyone to check the authenticity of the certificate.
</p>
{{ end }}
{{ end }}
