{{ with . }}
<div>
  {{ $chapterName := .chapter }}

  <div>
    <div class="chapter-names">
        {{ if eq .type "video"}}
          <div class="chapter-icon">
          <i class="bi bi-play-btn"></i>
          </div>
        {{ end }}

        {{ if eq .type "image"}}
          <div class="chapter-icon">
          <i class="bi bi-card-image"></i>
          </div>
        {{ end }}

        {{ if eq .type "quiz"}}
          <div class="chapter-icon">
          <i class="bi bi-check-circle"></i>
          </div>
        {{ end }}

        {{ if eq .type "code"}}
          <div class="chapter-icon">
          <i class="bi bi-code-square"></i>
          </div>
        {{ end }}

        {{ if eq .type "pdf"}}
          <div class="chapter-icon">
          <i class="bi bi-filetype-pdf"></i>
          </div>
        {{ end }}
      <div {{ if eq .type "title" }} class="section-title"{{end}}>{{ $chapterName }}</div>
    </div>

    <!-- Add video length -->
    {{/*  {{ if eq .type "video"}}
      <div class="chapter-details">
        {{ .meta }}
      </div>
    {{ end }}  */}}

    {{ if .preview }}
      <div class="view-preview">
        <iframe loading="lazy" data-src="https://www.youtube.com/embed/{{.preview}}?rel=0" style="aspect-ratio: 16 / 9; width: 100%; border: 1px solid black">
        </iframe>
      </div>
    {{ end }}

  </div>
{{ end }}
