{{ with . }}
{{/*  Move this elsewhere!  */}}
<h2>16 preview lectures</h2>
<p>
Here are 16 lectures from the course as a YouTube Playlist. You can experience the flow of the course and the teaching style first hand before starting with the full course.
</p>
<div class="video-player">
  <iframe loading="lazy" data-src="https://www.youtube.com/embed/videoseries?si=MIR-B4xyFRVjIGs-&amp;list=PLTbERlX_4R03PpUhJJ-f1cTC-Y_tLucHZ" width="100%" style="aspect-ratio: 16 / 9;" title="Preview Lectures" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<p>
  Full course will be available on the learning portal and include all the other lectures, attachments, project files and more.
</p>
{{ end }}
