{{ with . }}

{{ if .reviewSectionTitle}}
  <h2> {{.reviewSectionTitle}} </h2>

<div class="review-summary">
  {{ if .rating }}
    <span>{{ partial "products/render-stars.html" .rating }} course rating</span>.
  {{ end }}
  {{ if .ratingCount }}
    <span>{{.ratingCount}} ratings</span>
  {{ end }}
</div>

{{ if .reviewSectionDescription}}
  <p>
    {{.reviewSectionDescription | markdownify}}
  </p>
{{ end }}

<div class="card-collection">
{{ range .reviews }}
  <div class="info-card">
      {{if .photo}}
      <div class="reviewer-meta">
      <img loading="lazy" class="reviewer-photo" src="{{.photo}}"></img>
      <div class="reviewer-data">
      {{else}}
      <div class="reviewer-meta" style="padding: 5px !important">
      {{/*  <img loading="lazy" class="reviewer-photo" src="/images/old/favicon.png"></img>  */}}
      <div>
      {{end}}

        <div class="reviewer-name"> {{ .reviewer }} </div>
        {{ if .rating }}
          {{ partial "products/render-stars.html" .rating }}
        {{ end }}
        {{if .date}}
        <div class="review-date"> {{ .date }} </div>
        {{end}}
      </div>
    </div>
    <div class="review-text"> {{ .review }} </div>
  </div>

{{ end }}
</div>
{{ end }}
{{ end }}
