{{ $Courses := partial "course/course-map.html" . }}

{{ with . }}

{{ $CoreCourses := slice }}
{{range $Courses}}
  {{ if eq .type "pjcafe" }}
    {{$CoreCourses = $CoreCourses | append . }}
  {{ end }}
{{end}}

<link rel="stylesheet" href="{{ printf "css/%s/bundle/bundle.css" (partial "theme-name.html" .) | relURL }}">

<main class="bundle-container">
<div class="bundle-info-container">
  <div class="bundle-landing-title">Learning Tracks by the Core Team</div>
  <div class="bundle-landing-subtitle">Content curated by the Pyjamacafe Team. Learning tracks that are included in the Library Access, but also made available as individual learning tracks.</div>
</div>
{{/*  pyjamacafe cards  */}}
<div class="bundle-course-collection-container">
  {{range sort $CoreCourses "weight"}}
    {{if .sell }}
      <div class="bundle-course-card-showcase" onclick="window.location.href='/{{.id}}'">
        <div class="bundle-course-card-cover">
          <img loading="lazy" src="{{.cover}}"/>
        </div>
        <div class="bundle-course-card-title">{{.title | markdownify}}</div>
        <div class="bundle-course-card-description">{{.subtitle}}</div>
        {{ with .introduction }}
        {{ $d := delimit . " " }}
        {{ if gt (len $d) 150 }}{{ $d = printf "%s..." ((slicestr $d 0 150) | strings.TrimRight " ") }}{{ end }}
        <div class="bundle-course-card-long-description">{{ $d }}</div>
        {{ end }}
        {{ partial "course/badges.html" .badges }}
        <div class="bundle-landing-rating-student-count-container">
          {{ partial "course/ratingStars.html" .rating }}
          </div>
          <div class="bundle-sidebar-highlights-container">
          {{ partial "course/highlights.html" .highlights}}
          </div>
      </div>
    {{else}}
    {{end}}
  {{end}}
</div>
<div>

</div>
</main>
{{ end }}

{{/*
<hr/>
<div class="landingpage-hero">
  <h1>FREE learning tracks</h1>
  <p>If you are a student of a beginner, you can try the following courses for <b>free for a month</b> and choose to buy individual courses or the Library access post that.</p>
</div>

<div class="course-list">
  {{ range .Site.Data.courses }} {{ if eq .type "free"}}
  <a class="course-card" href="{{ .more }}" >
    <img src="{{.poster}}"/>
    <h4 class="post-title"> {{ .title | markdownify }} </h4>
    <div class="product-subtitle">{{.subtitle | markdownify}}</div>

    {{ if .badges}}
    <div class="product-stats">
      {{ range .badges }}
        {{ if .beginner }}
          <span class="product-beginner">Beginner</span>
        {{ end }}
        {{ if .intermediate }}
        <span class="product-intermediate">Intermediate</span>
        {{ end }}
        {{ if .free }}
        <span class="product-free">FREE!</span>
    {{ end }}
  {{ end }}
</div>
</main>
{{ end }}

    <div class="product-stats">
      {{ if .bestseller }}
        <span class="product-bestseller">Bestseller</span>
      {{ end }}
      {{ if .rating }}
        {{ partial "products/render-stars.html" .rating }}
      {{ end }}
    </div>
    <div class="course-card-content">
      <p>{{ .description | markdownify }}</p>
      {{ partial "courses/feature-list.html" .content }}
      <br/>
    </div>
  </a>
  {{ end }}{{end}}
</div>
  */}}

{{/*  Partner Courses */}}
{{ $PartnerCourses := slice }}
{{range $Courses}}
  {{ if eq .type "partner" }}
    {{$PartnerCourses = $PartnerCourses | append . }}
  {{ end }}
{{end}}

<main class="bundle-container bundle-partner-section">
<div class="bundle-info-container" id="partner">
  <div class="bundle-landing-title">Partner Courses</div>
  <div class="bundle-landing-subtitle">Courses listed below were developed by Industry Experts and professionals who we trust and recommend. These courses are <b>NOT</b> included in the Library Access.</div>
</div>
<div class="bundle-course-collection-container">
  {{range sort $PartnerCourses "weight"}}
    {{if .sell }}
      <div class="bundle-course-card-showcase" onclick="window.location.href='/{{.id}}'">
        <div class="bundle-course-card-cover">
          <img loading="lazy" src="{{.cover}}"/>
        </div>
        <div class="bundle-course-card-title">{{.title | markdownify}}</div>
        <div class="bundle-course-card-description">{{.subtitle}}</div>
        {{ with .introduction }}
        {{ $d := delimit . " " }}
        {{ if gt (len $d) 150 }}{{ $d = printf "%s..." ((slicestr $d 0 150) | strings.TrimRight " ") }}{{ end }}
        <div class="bundle-course-card-long-description">{{ $d }}</div>
        {{ end }}
        {{ partial "course/badges.html" .badges }}
        <div class="bundle-landing-rating-student-count-container">
          {{ partial "course/ratingStars.html" .rating }}
          </div>
        {{ if .highlights }}
          <div class="bundle-sidebar-highlights-container">
          {{ partial "course/highlights.html" .highlights}}
          </div>
        {{ end }}
      </div>
    {{end}}
  {{end}}
</div>
</main>
