:root {
  --title-font-size: clamp(12px, 4cqi, 64px);
  --subtitle-font-size: clamp(10px, 3cqi, 20px);
  --text-font-size: clamp(8px, 2cqi, 16px);
  --card-title-font-size: clamp(10px, 3cqi, 16px);
}

.pitch-container {
  /* background-color: rgb(255, 251, 147); */
  margin: 0px;
  padding: 0px;
  hr {
    margin: 32px 0 32px 0;
  }
}

.ptich-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background-color:rgb(255, 183, 138); */
  /* border: black 1px dotted; */
  margin: 100px 0 100px 0;
}

.pitch-title {
  flex: 1 1 100%;

  text-align: center;
  margin: 0px;
  padding: 0px;

  font-size: var(--title-font-size);
  font-weight: bold;

  color: rgb(43, 43, 43);
}

.pitch-subtitle {
  flex: 1 1 100%;
  text-align: center;

  font-size: var(--subtitle-font-size);

  margin: 0 0 16px 0;
  padding: 0px;

  color: rgb(88, 88, 88);
}

.pitch-break {
  flex: 1 1 100%;
  text-align: center;
  padding: 12px;
}

.pitch-text {
  flex: 1 1 100%;
  margin: 0px;
  padding: 8px 64px;
  text-align: center;

  font-size: var(--text-font-size);
  color: rgb(75, 75, 75);

  b {
    color: black;
  }
  code {
    font-size: var(--text-font-size);
  }
}

.pitch-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */

  flex: 1 1 100%;
  margin: 0px;
}

.pitch-card {
  margin: 8px;
  flex: 1 1 50%;
  max-width: 20%;
  /* border: 1px black solid; */
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 2px 0px black ;
  border-radius: 5px;
}

.pitch-card-img {
  border-radius: 5px 5px 0 0;
}

.pitch-card-title {
  text-align: left;
  font-size: var(--card-title-font-size);
  margin: 8px;
  font-weight: bold;
}

.pitch-card-text {
  text-align: left;
  margin: 8px;
  font-size: 12px;
}

.pitch-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
  /* align-items: center; */

  max-width: 45%;

  border-radius: 10px;
  border: 1px black solid;
  /* box-shadow: 0 0 5px 0 rgb(124, 124, 124); */
  background-color: rgb(239, 239, 239);
}

.pitch-people-pic {
  flex: 1 1 auto;
  max-width: 30%;
  text-align: left;
  padding: 2%;
  min-height: 300px;

  img {
    border-radius: 10px;
    /* box-shadow: 0 0 10px 0 rgb(124, 124, 124); */
  }
}

.pitch-people-intro {
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  flex: 1 1 auto;
  max-width: 60%;
  padding: 2%;
}

.pitch-people-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.pitch-people-designation {
  flex: 1 1 100%;
  font-size: 14px;
  font-weight: bold;
  color: hsl(0 0 20%);
}

.pitch-people-orgs {
  flex: 1 1 100%;
  font-size: 14px;
  font-weight: bold;
  color: hsl(0 0 20%);
  margin-bottom: 16px;
}

.pitch-people-links {
  margin-right: 4px;
}

.pitch-people-text {
  flex: 1 1 100%;
  margin: 8px 0;
  text-align: justify;
  font-size: 12px;
  color: rgb(100, 100, 100);
}

.pitch-half {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  flex: 1 1 auto;

  align-self: center;
  align-items: center;

  /* background-color: rgb(195, 195, 195); */
  max-width: 50%;

  img {
    align-self: center;
    margin: auto;
    flex: 0 1 auto;
    height: auto;
    width: auto;
    max-height: 400px;
  }

  a {
    text-decoration: none;
  }
}

.pitch-video {
  width: 96%;
  height: auto;
  border: black 2px solid;
}

.pitch-ctas {
  align-items: center;
  margin: auto;
  padding: 16px;
  a {
    text-decoration: none;
  }
}

.pitch-cta-button {
  height: 42px;
  font-size: var(--text-font-size);
  border-radius: 5px;
}

.pitch-full {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  flex: 1 1 auto;

  align-self: center;
  align-items: center;

  /* background-color: rgb(194, 255, 255); */
  min-width: 100%;
  text-align: center;
}

.pitch-sequence {
  flex: 1 1 100%;
  list-style: none;
  counter-reset: step-counter;
}

.pitch-sequence-item {
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  max-width: 85%;
  counter-increment: step-counter;
  font-size: var(--text-font-size);
  color: rgb(75, 75, 75);
}

/* Custom numbers */
.pitch-sequence li::before {
  content: counter(step-counter);
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #ff0000;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: var(--text-font-size);
  line-height: 20px;
  z-index: 2;
}

/* Connecting Line */
.pitch-sequence li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 20px;
  width: 2px;
  height: calc(100% + 20px);
  background: #ccc;
  z-index: 1;
}

@media screen and (max-width: 771px) {
  .pitch-half {
    max-width: 100%;
    margin: 10px 0px;
  }

  .pitch-card {
    flex: 1 1 50%;
    max-width: 45%;
  }

  .pitch-people, .pitch-people-pic, .pitch-people-intro  {
    min-width: 100%;
    padding: 16px;
    box-shadow: none;
  }
}
