{{ define "main" }}
  <link rel="stylesheet" href="{{"css/bundle/bundle.css" | relURL }}">
  {{/*  Filter the Data source  */}}
  {{$bundle := (index .Site.Data.bundle .Params.source) }}
  {{$courselist := .Site.Data.course }}
  {{$faqs := (index .Site.Data.faqs $bundle.faqs) }}

  <main class="bundle-container">
    <div class="bundle-info-container">
      {{ if $bundle.title }}
      <div class="bundle-landing-title">{{$bundle.title | markdownify}}</div>
      {{ end }}

      {{ if $bundle.subtitle }}
      <div class="bundle-landing-subtitle">{{$bundle.subtitle | markdownify }}</div>
      {{ end }}
      <hr class="bundle-divider-line"/>

      {{ if $bundle.infographic }}
      <div class="bundle-landing-introduction">
        <img loading="lazy" src="{{$bundle.infographic}}"/>
      </div>
      {{ end }}

      {{ if $bundle.introduction }}
      <div class="bundle-landing-introduction">
        {{ range $bundle.introduction }}
          <p>{{ . | markdownify }}</p>
        {{ end }}
      </div>
      {{ end }}

      {{ if $bundle.badges }}
        {{ partial "course/badges.html" $bundle.badges }}
      {{ end }}

      {{ if $bundle.rating }}
      <div class="bundle-landing-rating-student-count-container">
        {{ partial "course/ratingStars.html" $bundle.rating }}
        {{ if $bundle.enrolled }}
        <span> | <b class="bundle-landing-badge bundle-landing-badge-enrolled">{{$bundle.enrolled}}</b> Enrolled.</span>
        {{ end }}
      </div>
      {{ end }}

      <div class="bundle-landing-general-info-container">
      <span class="bi bi-exclamation-circle-fill"></span><span>Last Updated: {{$bundle.date}}</span>|
      <span class="bi bi-globe"></span><span>{{ $bundle.language }}</span>|
      <span class="bi bi bi-clock"></span><span><b>{{ $bundle.access }}</b></span> Access.
      </div>

      {{ if $bundle.highlights }}
      <div class="bundle-landing-section-title">Includes</div>
      {{ partial "course/highlights.html" $bundle.highlights}}
      {{ end }}

      {{ if $bundle.videoMessage }}
      {{ partial "course/videoMessage.html" $bundle.videoMessage}}
      {{ end }}

      {{ if $bundle.courses }}
      <div class="bundle-landing-section-title">Courses Included</div>
      <div class="bundle-course-collection-container">
      {{ range $bundle.courses }}
        {{$c := (index $courselist .) }}
        <div id="card-{{$c.id}}" onclick="openDialog(this.id)"class="bundle-course-card">
          <div class="bundle-course-card-cover">
            <img loading="lazy" src="{{$c.cover}}"/>
          </div>
          <div class="bundle-course-card-title">{{$c.title}}</div>
          <div class="bundle-course-card-description">{{$c.subtitle}}</div>
        </div>
        {{$d := merge $c $bundle.sticky }}
        {{partial "course/dialog.html" $d}}
      {{ end }}
      </div>
      {{ end }}

      <div class="bundle-landing-section-title">Details of Content</div>
      {{/*  <p>Explore the detailed list of lectures included in each course.</p>  */}}
      {{ $counter := 0 }}
      {{ range $bundle.courses }}
        {{ $counter = (add $counter 1)}}
        {{ $c := (index $courselist .) }}
        <span id="{{$c.id}}"></span>
        <div class="bundle-landing-course-details">
          <a class="bundle-landing-toc-entry-title" href="#{{$c.id}}">#{{$counter}}: {{$c.title}}</a>
          <div class="bundle-landing-course-details-container">
            <div class="bundle-landing-course-details-cover">
              <img loading="lazy" src="{{$c.cover}}"/>
            </div>
            <div class="bundle-landing-course-details-highlights">
              {{range $c.introduction }}
              <p>{{.}}</p>
              {{ end }}
              {{ partial "course/quality-meta.html" $c }}
            </div>
          </div>
          <div class="bundle-landing-toc-entry">
            <details class="bundle-landing-toc-entry-details" open>
            <summary>
            <b>Table of Contents</b>
            </summary>
            <div class="bundle-landing-toc-content">
              {{range $c.contents }}
              <div class="bundle-landing-toc-entry-details-title">{{.section.title}}</div>
              <ul class="bundle-landing-toc-entry-details-chapter-list">
              {{range .section.chapters}}
                <div class="bundle-landing-course-details-dialog-section-chapter">
                {{if eq .chapter.type "file"}}
                <span class="bi bi-file-earmark bundle-landing-icon">&nbsp</span>
                {{ else }}
                <span class="bi bi-play-btn bundle-landing-icon">&nbsp</span>
                {{end}}
                {{.chapter.title}}
                </div>
                {{ if .chapter.preview }}
                  {{ partial "course/yt-preview.html" .chapter.preview}}
                {{ end }}
                {{end}}
              </ul>
              {{ end }}
            </div>
            </details>
          </div>
        </div>
      {{ end }}

      {{ if $bundle.learnings }}
      <div class="bundle-landing-section-title">What you will learn</div>
      {{ partial "course/checklist.html" $bundle.learnings }}
      {{ end }}

      {{ if $bundle.sampleCertificate }}
      <div class="bundle-landing-section-title">Sample Certificate</div>
      <div class="bundle-course-sample-certificate">
        <figure>
        <img loading="lazy" src="{{$bundle.sampleCertificate}}"/>
        </figure>
        <div class="bundle-course-sample-certificate-caption">Earn a certificate for every technical track by completing 95% of the course work.</div>
      </div>
      {{ end }}

      {{ if $bundle.difference }}
        {{ partial "course/differences.html" $bundle.difference }}
      {{ end }}

      {{ if $bundle.instructors }}
        {{ partial "course/instructors.html" . }}
      {{ end }}

      {{ if $bundle.audience }}
        {{ partial "course/audience.html" $bundle.audience }}
      {{ end }}

      {{ if $bundle.requirements }}
        {{ partial "course/requirements.html" $bundle.requirements }}
      {{ end }}

      <div class="bundle-landing-section-title">FAQs</div>
      <div class="bundle-landing-faqs">
      {{ $counter := 0 }}
      {{ range $faqs }}
        {{if eq (math.Mod $counter 2) 0}}
        <div class="bundle-landing-faq-q"><b>{{. | markdownify}}</b></div>
        {{else}}
        <div class="bundle-landing-faq-a">{{. | markdownify}}</div>
        <br/>
        {{end}}
        {{ $counter = (add $counter 1)}}
      {{ end }}
      </div>

      {{ if $bundle.sticky }}
      <div class="bundle-landing-footer-sticky">
          {{ if $bundle.sticky.ctas }}
            {{ if $bundle.sticky.text }}
              <div class="bundle-landing-footer-sticky-text">
                {{$bundle.sticky.text}}
              </div>
            {{ end }}
            {{ if $bundle.sticky.discount }}
              <div class="bundle-landing-footer-sticky-text">
                Use code <b class="bundle-landing-discount-text">{{$bundle.sticky.discount.code}}</b> to get a <b class="bundle-landing-discount-text">{{$bundle.sticky.discount.percent}} discount</b> on the Yearly Access.
              </div>
            {{ end }}
            <div class="bundle-landing-footer-sticky-ctas">
              {{ range $bundle.sticky.ctas }}
                <a href="{{ .link }}" target="_blank">
                  <button class="bundle-landing-footer-sticky-cta-button {{if .primary}}bundle-landing-footer-sticky-cta-button-primary{{end}}">{{ .text }}</button>
                </a>
              {{ end }}
            </div>
          {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="bundle-sidebar-card">
      <img loading="lazy" src="{{$bundle.cover}}">
      <div class="bundle-sidebar-card-title">{{$bundle.title | markdownify}}</div>
      <div class="bundle-sidebar-card-subtitle">{{$bundle.subtitle | markdownify}}</div>
      {{ partial "course/badges.html" $bundle.badges }}
      <div class="bundle-landing-rating-student-count-container">
      {{ partial "course/ratingStars.html" $bundle.rating }}
      </div>
      <div class="bundle-sidebar-highlights-container">
      {{ partial "course/highlights.html" $bundle.highlights}}
      </div>

      <div class="bundle-landing-sidebar-cta">
        <div class="bundle-landing-footer-sticky-ctas">
          {{ range $bundle.sticky.ctas }}
            <a href="{{ .link }}" target="_blank">
              <button class="bundle-landing-footer-sticky-cta-button {{if .primary}}bundle-landing-footer-sticky-cta-button-primary{{end}}">{{ .text }}</button>
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
