{{ with . }}
<dialog class="bundle-landing-course-details-dialog-container" id="dialog-{{.id}}">
  <div class="bundle-landing-dialog-nav" onclick="closeDialog()">
  Back
  </div>
  <div class="bundle-landing-dialog-details">
      {{ if .title }}
      <div class="bundle-landing-course-details-dialog-title">{{.title | markdownify}}</div>
      {{ end }}

      {{ if .subtitle }}
      <div class="bundle-landing-subtitle">{{.subtitle | markdownify }}</div>
      {{ end }}

      {{ if .badges }}
        {{ partial "course/badges.html" .badges }}
      {{ end }}

      {{ if .rating }}
      <div class="bundle-landing-rating-student-count-container">
        {{ partial "course/ratingStars.html" .rating }}
        {{ if .enrolled }}
        <span> | <b class="bundle-landing-badge bundle-landing-badge-enrolled">{{.enrolled}}</b> Enrolled.</span>
        {{ end }}
      </div>
      {{ end }}

      <hr class="bundle-divider-line"/>

      {{ if .introduction }}
      <div class="bundle-landing-introduction">
        {{ range .introduction }}
          <p>{{ . | markdownify }}</p>
        {{ end }}
      </div>
      {{ end }}

      {{ if .contents }}
      {{ range .contents }}
        <div class="bundle-landing-course-details-dialog-section-container">
        <div class="bundle-landing-course-details-dialog-section-title">
          {{.section.title}}
        </div>
        <div class="bundle-landing-course-details-dialog-section-description">
          {{.section.description}}
        </div>

        {{ range .section.chapters }}
          <div class="bundle-landing-course-details-dialog-section-chapter">
            {{if eq .chapter.type "file"}}
            <span class="bi bi-file-earmark bundle-landing-icon">&nbsp</span>
            {{ else }}
            <span class="bi bi-play-btn bundle-landing-icon">&nbsp</span>
            {{end}}
            {{.chapter.title}}
          </div>
        {{ end }}
        </div>
      {{ end }}
      {{ end }}
  </div>
</dialog>
<script>
  activeDialog = null;
  function openDialog(cardID) {
    dialogID = "dialog-"+cardID;
    activeDialog = document.getElementById(dialogID)
    console.log(dialogID, activeDialog)
    activeDialog.showModal();
  }

  function closeDialog() {
    activeDialog.close();
  }
</script>
{{ end }}
