{{ with . }}
<dialog class="bundle-landing-course-details-dialog-container" id="dialog-card-{{.id}}" closedby="any">
  {{/*  <div class="bundle-landing-dialog-nav" onclick="closeDialog()">
  Back
  </div>  */}}
  <div class="bundle-landing-dialog-details">
      {{ if .title }}
      <div class="bundle-landing-course-details-dialog-title">{{.title | markdownify}}</div>
      {{ end }}

      {{ if .subtitle }}
      <div class="bundle-landing-subtitle">{{.subtitle | markdownify }}</div>
      {{ end }}

      {{ partial "course/quality-meta.html" . }}

      <hr class="bundle-divider-line"/>

      {{ if .introduction }}
      <div class="bundle-landing-introduction">
        {{ range .introduction }}
          <p>{{ . | markdownify }}</p>
        {{ end }}
      </div>
      {{ end }}

      {{ if .videoMessage }}
      {{ partial "course/videoMessage.html" .videoMessage}}
      {{ end }}

      {{ if .learnings }}
        <div class="bundle-landing-section-title">What you will learn</div>
        {{ partial "course/checklist.html" .learnings }}
      {{ end }}

      {{ if .contents }}
      <div class="bundle-landing-section-title">Table of Contents</div>
      {{ range .contents }}
        <div class="bundle-landing-course-details-dialog-section-container">
        <div class="bundle-landing-course-details-dialog-section-title">
          {{.section.title}}
        </div>
        <div class="bundle-landing-course-details-dialog-section-description">
          {{.section.description}}
        </div>

        {{ range .section.chapters }}
          <div class="bundle-landing-course-details-dialog-section-chapter">
            {{if eq .chapter.type "file"}}
            <span class="bi bi-file-earmark bundle-landing-icon">&nbsp</span>
            {{ else }}
            <span class="bi bi-play-btn bundle-landing-icon">&nbsp</span>
            {{end}}
            {{.chapter.title}}
          </div>
          {{ if .chapter.preview }}
            {{ partial "course/yt-preview.html" .chapter.preview}}
          {{ end }}
        {{ end }}
        </div>
      {{ end }}
      {{ end }}

      {{ if .sampleCertificate }}
      <div class="bundle-landing-section-title">Sample Certificate</div>
      <div class="bundle-course-sample-certificate">
        <figure>
        <img loading="lazy" src="{{.sampleCertificate}}"/>
        </figure>
        <div class="bundle-course-sample-certificate-caption">Earn a certificate for every technical track by completing 95% of the course work.</div>
      </div>
      {{ end }}

      {{ if .difference }}
        {{ partial "course/differences.html" .difference }}
      {{ end }}

      {{if .reviews}}
        {{ partial "course/reviews.html" .reviews }}
      {{ end }}

      {{ if .audience }}
        {{ partial "course/audience.html" .audience }}
      {{ end }}

      {{ if .requirements }}
        {{ partial "course/requirements.html" .requirements }}
      {{ end }}
  </div>

  {{ if .ctas }}
    <div class="bundle-landing-dialog-footer">
    {{ range .ctas }}
        <button onclick="window.open('{{ .link }}', '_blank');">{{ .text }}</button>
    {{ end }}
    </div>
  {{ end }}
</dialog>
{{ end }}
