<script>
  activeDialog = null;

  function checkHashAndOpen() {
    if (window.location.hash) {
      try {
            dialogID = "dialog-card-"+ window.location.hash.slice(1);
        activeDialog = document.getElementById(dialogID)
        activeDialog.showModal();
      } catch (err) {
        // silence!
      }
    }
  }

  window.addEventListener('DOMContentLoaded', checkHashAndOpen);
  window.addEventListener('hashchange', checkHashAndOpen);

  function openDialog(courseID) {
    dialogID = "dialog-card-"+courseID;
    activeDialog = document.getElementById(dialogID)
    activeDialog.showModal();
  }

  function closeDialog() {
    activeDialog.close();
  }
</script>
