{{ with . }}
<div class="bundle-landing-highlights-container">
  {{ range . }}
      {{ if .courseCount }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-folder-fill">&nbsp</span><span>Collection of {{.courseCount}} Courses.</span>
        </div>
      {{ end }}

      {{ if .duration }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-play-btn">&nbsp</span><span>{{.duration}} of recorded lectures.</span>
        </div>
      {{ end }}

      {{ if .lessonCount }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-check2-square">&nbsp</span><span>{{.lessonCount}} Lessons.</span>
        </div>
      {{ end }}

      {{ if .emulator }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-pci-card">&nbsp</span><span>Emulator based experiments.</span>
        </div>
      {{ end }}

      {{ if .hardware }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-pci-card">&nbsp</span><span>Hardware based experiments.</span>
        </div>
      {{ end }}

      {{ if .downloadableResources }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-cloud-arrow-down">&nbsp</span><span>{{.downloadableResources}} downloadable resource.</span>
        </div>
      {{ end }}

      {{ if .workshops }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-person-video3">&nbsp</span><span>Occasional workshops by industry experts.</span>
        </div>
      {{ end }}

      {{ if .certificate }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-trophy">&nbsp</span><span>Certificate on completion.</span>
        </div>
      {{ end }}

      {{ if .cheatSheet }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-card-list">&nbsp</span><span>Notes/Cheat-sheet on select courses.</span>
        </div>
      {{ end }}

      {{ if .caseStudy }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-git">&nbsp</span><span>Case studies based on open-source code.</span>
        </div>
      {{ end }}

      {{ if .exerciseChallenge }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-code-square">&nbsp</span><span>Exercises and Coding Challenges.</span>
        </div>
      {{ end }}

      {{ if .projectCount }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-hammer">&nbsp</span><span>{{.projectCount}} Project implementation.</span>
        </div>
      {{ end }}

      {{ if .freeUpdates }}
        <div class="bundle-landing-highlight">
        <span class="bi bi-emoji-sunglasses">&nbsp</span><span>Free updates to the course.</span>
        </div>
      {{ end }}
  {{ end }}
</div>
{{ end }}
