{{ with . }}

<div class="bundle-landing-yt-container">
    <iframe loading="lazy" style= "width:100%; height:auto; aspect-ratio:16/9" src="https://www.youtube.com/embed/{{.}}?autoplay=0&muted=0&loop=1&controls=1&modestbranding=0&rel=0&playinline=1&enablejsapi=1&playlist={{.}}" title="Preview Lecture" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

{{ end }}
