@media all and (width > 1024px) {
  .post-container {
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }

  .post-content {
    flex: 1 1 auto;
    min-width: 0;
  }

  .sidebar {
    flex: 0 0 30%;
    padding: 10px;
    position: sticky;
    top: 10px;
  }

  .post-container .bundle-sidebar-card {
    flex: 0 0 30%;
    width: 100%;
  }

  .blog-card {
    border: solid var(--linecolor) 1px;
    max-width: 24% !important;
    text-decoration: none;
    cursor: pointer;
    color: var(--fontcolor) !important;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px 0px var(--prebgcolor);
  }

  .blog-card:hover {
    box-shadow: 0px 0px 4px 0px var(--prebgcolor);
    text-decoration: none;
  }

  .course-card {
    border: solid var(--linecolor) 1px;
    margin: 15px;
    max-width: 30% !important;
    text-decoration: none;
    cursor: pointer;
    color: var(--fontcolor) !important;
    transition-duration: 0.5s;
    /* box-shadow: 0px 0px 5px 0px var(--shadow); */
  }

  .course-card:hover {
    box-shadow: 0px 0px 20px 0px var(--shadowDard);
    text-decoration: none;
  }

  .post-title {
    margin: 0px !important;
    padding: 10px;
    padding-bottom: 0px;
  }

  .post-card-content {
    padding: 0px;
    font-size: 0.9em;

    p {
      padding: 0 10px 0 10px;
    }
  }

  .prod-what-u-learn-point {
    min-width: 50%;
    max-width: 50%;
  }

  .bullet-point {
    min-width: 50%;
    max-width: 50%;
  }

  .info-card {
    min-width: 45%;
    max-width: 45%;
    /* border: solid var(--linecolor) 1px; */
  }

  .creators-info-card {
    word-wrap: break-word;
    max-width: 45%;
    padding: 1%;
    margin: 1%;
    /* border: solid var(--linecolor) 1px; */
  }

  .creators-info-card-single {
    word-wrap: break-word;
    max-width: 96%;
    padding: 1%;
    margin: 1%;
  }

  .button-cta {
    /* display: none; */
  }

  .sidebar-product {
    position: sticky;
    border-radius: 10px;
    top: 10px;
    display: block;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
    height: fit-content;
    grid-column: 2;

    a {
      img {
        border-radius: 10px 10px 0px 0px;
      }
    }
  }

  .compare-table {
    display: flex;
    justify-content: center;
  }

  .compare-tick {
    font-size: 2em;
  }
}
