<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe loading="lazy" src="https://www.googletagmanager.com/ns.html?id=GTM-W9GBJJKZ"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="root">
      {{ partial "header.html" . }}
      <div id="content">
        {{ block "main" . }}{{ end }}
      </div>
      {{ partial "form.html" . }}
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
