{{ define "main" }}
  <link rel="stylesheet" href="{{ printf "css/%s/bundle/bundle.css" (partial "theme-name.html" .) | relURL }}">
  <main>
    <article>
      <h1 class="title">{{ .Title }}</h1>
      {{ with .Params.subtitle }}<h3 class="subtitle">{{ . }}</h3>{{ end }}
      {{ partial "postMetaDetailed.html" . }}
      <div class="content post-container">
        <div class="post-content">
          {{ .Content }}
          {{ partial "comments.html" }}
        </div>
        {{ if .Params.product }}
          {{ partial "products/bundle-sidebar.html" (dict "data" (index .Site.Data.courses .Params.product) "showDescription" true) }}
        {{ else }}
          {{ partial "products/bundle-sidebar.html" (dict "data" (index .Site.Data.courses "embedded-engineering") "showDescription" true) }}
        {{end}}
      </div>
    </article>
  </main>
  {{ partial "code-block.html" . }}
  {{ partial "callouts.html" . }}
  <script>
    // TODO: Fetch author details from GitHub and populate it on the fly
    {{/*  document.addEventListener('DOMContentLoaded', function() {
      const authorDetails = document.getElementById("{{.Params.author}}");
      author = document.createTextNode("By: {{.Params.author}}");
      authorDetails.appendChild(author);
    }, false);  */}}
  </script>
{{ end }}
