<header>
  <div id="brand">
    <a class="icon-link" href="{{ .Site.BaseURL }}">
      <img
        class="icon"
        src="{{.Site.Params.brandIconFile | relURL }}"
      />
    </a>
    <div class="text">
      <h1 id="brand"><a href="{{ .Site.BaseURL }}"><span id="typed-title"></span></a></h1>
      <h3 class="site-subtitle">{{ default "Description about Blog Author" .Site.Params.subtitle }}</h3>
    </div>
  </div>
  <hr id="nav-top-hr" />
  <nav class="navbar">
    {{ with .Site.Menus.main }}
      {{ range $index, $value := . }}
        <a class="menu-special" id="{{.Identifier}}" href="{{ .URL | relURL }}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </nav>
  <hr id="nav-bottom-hr" />
  {{ $navTheme := partial "theme-name.html" . }}
  <script>
    p = window.location.pathname.split("/").join("");
    if (p == "") {
      p = "home";
    }

    try {
      btn = document.getElementById(p);
      {{ if eq $navTheme "terminal" }}
      btn.style.backgroundColor = "var(--syntax-border)";
      btn.style.color = "var(--syntax-foreground)";
      {{ else }}
      btn.style.backgroundColor = "var(--cafe)";
      btn.style.color = "var(--bgcolor)";
      {{ end }}
      btn.style.fontWeight = "bold";
    } catch (error) {
      //
    }
  </script>
</header>
