<header>
  <div id="brand">
    <a class="icon-link" href="{{ .Site.BaseURL }}">
      <img
        class="icon"
        src="{{.Site.Params.brandIconFile | relURL }}"
      />
    </a>
    <div class="text">
      <h1 id="brand"><a href="{{ .Site.BaseURL }}"><span id="typed-title"></span></a></h1>
      <h3 class="site-subtitle">{{ default "Description about Blog Author" .Site.Params.subtitle }}</h3>
    </div>
  </div>
  <hr id="nav-top-hr" />
  <nav class="navbar">
    {{ with .Site.Menus.main }}
      {{ range $index, $value := . }}
        {{if eq .Identifier "spacer" }}
          <span style="flex: 1 1 100%;"></span>
        {{else}}
        <a class="menu-special" id="{{.Identifier}}" href="{{ .URL | relURL }}">{{ .Name }}</a>
        {{end}}
      {{ end }}
    {{ end }}
  </nav>
  <hr id="nav-bottom-hr" />
  <script>
    p = window.location.pathname.split("/").join("");
    if (p == "") {
      p = "home";
    }

    console.log(p);

    btn = document.getElementById(p);
    btn.style.backgroundColor = "var(--cafe)";
    btn.style.color = "var(--bgcolor)";
    console.log(btn)
  </script>
</header>
