{{ with .}}
<div class="product-sidebar">
  {{ if .preview }}
  <iframe loading="lazy" width="100%" style="aspect-ratio: 16 / 9;" src="https://www.youtube.com/embed/{{.preview}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  {{ else }}
    <a class="product-img-container" href="{{.more}}">
      <img loading="lazy" class="product-img" src="{{.poster}}"/>
    </a>
  {{ end }}

  <div class="product-title">
      {{ .title | markdownify }}
  </div>

  <div class="product-subtitle">
    {{.subtitle | markdownify}}
  </div>

  <div class="product-stats">
    {{ if .bestseller }}
      <span class="product-bestseller">Bestseller</span>
    {{ end }}
    {{ if .rating }}
      {{ partial "products/render-stars.html" .rating }}
    {{ end }}
  </div>

  <div class="product-details">
    <p>{{ .description | markdownify }}</p>
    {{ partial "courses/feature-list.html" .content }}

    {{ if .more }}
      <p>Read <a href="{{.more}}">more...</a></p>
    {{ end }}
  </div>

  {{ if .discount}}
  <div class="discount">
    {{if .discount.code}}code <span class="discount-code">{{.discount.code}}</span> (<b>{{.discount.percentage}} off</b> on Yearly).<br/><b id="countdownSidebar"></b>!!{{end}}
  </div>
  <script>
    // Get today's date
    const n = new Date();

    n.setHours({{.discount.time}}, 0, 0, 0);
    var countDownDate = new Date(n).getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      t = hours + "h " + minutes + "m " + seconds + "s"
      try {
        document.getElementById("countdownSidebar").innerHTML =  t;
        document.getElementById("countdownBottom").innerHTML =  t;
      } catch(err) {
      }
    }, 1000);
  </script>
  {{ end }}

  <div class="product-cta-button">
    {{ range .enroll }}
      {{if .disabled}}
      <a class="btn" href="#" target="_blank">
        <button class="btn-disabled">
          <span class="bi"></span>
          {{.plan}} (Slots Full)
        </button>
      </a>
      {{else}}
      <a class="btn" href="{{ .link }}" target="_blank">
        <button class="btn-{{.plan}}">
          <span class="bi"></span>
          {{.plan}}
        </button>
      </a>
      {{end}}
    {{ end }}
  </div>
</div>

{{if .discount}}

{{end}}
{{ end }}
