{{ with . }}
<div class="pitch-full">
  {{/*  print the tile is there is one  */}}
  {{ if .title }}
    <div class="pitch-title"> {{.title | markdownify }} </div>
  {{ end}}

  {{ if .subtitle }}
    <div class="pitch-subtitle"> {{.subtitle | markdownify }} </div>
  {{ end}}

  {{/*  print text if there is one  */}}
  {{ if .texts }}
    {{ range .texts }}
    <div class="pitch-text"> {{.text | markdownify }} </div>
    {{ end }}
  {{ end }}

  {{/*  video  */}}
  {{ if .video }}
    <figure>
      <video class="pitch-video" autoplay muted loop>
      <source src="{{.video}}" type="video/webm">
      Your browser does not support the video tag.
      </video>
      {{ if .caption }}<figcaption>{{.caption}}</figcaption> {{ end }}
    </figure>
  {{ end }}

  {{ if .cards }}
    <div class="pitch-card-container">
    {{ range .cards }}
      <div class="pitch-card">
        <img class="pitch-card-img" src="{{ .img }}"/>
        <div class="pitch-card-title">{{.title}}</div>
        <div class="pitch-card-text">{{.text}}</div>
        {{/*  <a class="pitch-card-more">{{.more}}</a>  */}}
      </div>
    {{ end }}
    </div>
  {{ end }}

  {{ if .people }}
    {{ range .people}}
    <div class="pitch-people">
      <div class="pitch-people-pic">
        <img src="{{.img}}"/>
      </div>
      <div class="pitch-people-intro">
        <div class="pitch-people-name">{{.name}}</div>
        <div class="pitch-people-designation">{{.designation}}</div>
        <div class="pitch-people-orgs">{{.orgs}}</div>
        {{ if .links }}
            {{if .links.linkedin}}
              <a class="pitch-people-links" href="{{.links.linkedin}}" target="_blank">linkedin</a>
            {{end}}
            {{if .links.x}}
              <a class="pitch-people-links" href="{{.links.x}}" target="_blank">x.com</a>
            {{end}}
            {{if .links.youtube}}
              <a class="pitch-people-links" href="{{.links.youtube}}" target="_blank">YouTube</a>
            {{end}}
        {{ end }}
        {{range .texts}}
          <div class="pitch-people-text">{{.text}}</div>
        {{end}}
      </div>
    </div>
    {{ end }}
  {{ end }}

  {{/*  sequence  */}}
  {{ if .sequence }}
    <ol class="pitch-sequence">
    {{ range .sequence }}
      <li class="pitch-sequence-item">{{ . }}</li>
    {{ end }}
    </ol>
  {{ end }}

  {{ if .posttexts }}
    {{ range .posttexts }}
      <div class="pitch-text"> {{.text | markdownify }} </div>
    {{ end }}
  {{ end }}

  {{ if .ctas }}
    <div class="pitch-ctas">
    {{ range .ctas }}
      <a href="{{ .link }}">
        <button class="pitch-cta-button">{{ .text }}</button>
      </a>
    {{ end }}
    </div>
  {{ end }}
</div>
{{ end }}
