{{ with . }}
<div class="pitch-half">
  {{/*  print the tile is there is one  */}}
  {{ if .title }}
    <div class="pitch-title"> {{.title | markdownify }} </div>
  {{ end}}

  {{ if .subtitle }}
    <div class="pitch-subtitle"> {{.subtitle | markdownify }} </div>
  {{ end}}

  {{/*  print text if there is one  */}}
  {{ if .texts }}
    {{ range .texts }}
    <div class="pitch-text"> {{.text | markdownify }} </div>
    {{ end }}
  {{ end }}

  {{/*  print image if there is one  */}}
  {{ if .img }}
    <img src="{{.img}}"/>
  {{ end }}

  {{/*  video  */}}
  {{ if .video }}
    <figure>
      <video class="pitch-video" autoplay muted loop>
      <source src="{{.video}}" type="video/webm">
      Your browser does not support the video tag.
      </video>
      {{ if .caption }}<figcaption>{{.caption}}</figcaption> {{ end }}
    </figure>
  {{ end }}

  {{/*  sequence  */}}
  {{ if .sequence }}
    <ol class="pitch-sequence">
    {{ range .sequence }}
      <li class="pitch-sequence-item">{{ . | markdownify }}</li>
    {{ end }}
    </ol>
  {{ end }}

  {{ if .posttexts }}
    {{ range .posttexts }}
      <div class="pitch-text"> {{.text | markdownify }} </div>
    {{ end }}
  {{ end }}

  {{ if .ctas }}
    <div class="pitch-ctas">
    {{ range .ctas }}
      <a href="{{ .link }}" target="_blank">
        <button class="pitch-cta-button">{{ .text }}</button>
      </a>
    {{ end }}
    </div>
  {{ end }}
</div>
{{ end }}
