:root {
  font-size: 14px;
}

:root {
  --padding: 8px;
  --color-border: rgb(0, 0, 0);

  --ff: "Iosevka", sans-serif;

  --fTitle: bold clamp(1.5rem/1.4 , 2vw + 1rem, 4rem/1.4) var(--ff);
  --fSubTitle: clamp(1rem/1.4 , 2vw + 1rem, 1.5rem/1.4) var(--ff);
  --fNormal: clamp(1rem/1.4 , 2vw + 0.rem, 2rem/1.4) var(--ff);

  --base-font-size: 1rem/1.4 var(--ff);
  --toc-title-size: bold 1.15rem/1.4 var(--ff);

  --subsection-title: bold 1.75rem/1.4 var(--ff);
  --dialog-title: bold 1.75rem/2 var(--ff);
  --dialog-section-title: bold 1.125rem/2 var(--ff);
  --text-font-size: clamp(13px, 2cqi, 16px);
  --card-title-font-size: 16px;
  --card-description-font-size: 14px;
  --section-margin: clamp(64px, 10cqi, 280px);

}

:root {
  --c100: hsl(0, 0%, 0%);
  --c80: hsl(0, 0%, 20%);
  --c70: hsl(0, 0%, 30%);
  --c50: hsl(0, 0%, 50%);
  --c30: hsl(0, 0%, 70%);
  --c0: hsl(0, 0%, 100%);
} @media (prefers-color-scheme: dark) {
:root {
  --c0: hsl(0, 0%, 0%);
  --c30: hsl(0, 0%, 30%);
  --c50: hsl(0, 0%, 50%);
  --c70: hsl(0, 0%, 70%);
  --c80: hsl(0, 0%, 80%);
  --c100: hsl(0, 0%, 100%);
}
}

html {
  scrollbar-gutter: stable;
}

header {
  .navbar, #nav-top-hr {
    display: none;
  }
}

html:has(dialog[open]) {
  overflow: hidden;
}

div, p {
  font: var(----fNormal);
  color: var(--c80);
}

.bundle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0px;
}

.bundle-info-container {
  flex: 1 0 65%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 255, 224); */
  justify-content: center;
}

.bundle-sidebar-card {
  flex: 1 0 30%;
  align-self: flex-start;
  position: sticky;
  top: 20px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px var(--prebgcolor);
  background-color: var(--dimcolor);

  img {
    border-radius: 5px 5px 0px 0px;
  }
}

.bundle-landing-title {
  flex: 1 1 100%;
  text-align: center;
  font: var(--fTitle);
  color: var(--c100);
}

.bundle-landing-subtitle {
  flex: 1 1 100%;
  text-align: center;
  font: var(--fSubTitle);
  color: var(--c50);
}

.bundle-divider-line {
  flex: 1 1 100%;
  width: 100%;
}

.bundle-landing-introduction {
  flex: 1 1 100%;
  text-align: center;
  padding: var(--padding);
  font: var(--base-font-size);
}

.bundle-landing-badge-container, .bundle-landing-rating-student-count-container,
.bundle-landing-general-info-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: var(--padding) 0px;
  justify-content:center;
  gap: 8px;
  width: 100%;
}

.bundle-landing-badge {
  border: 1px solid var(--color-border);
  padding: 0px 5px;
  border-radius: 3px;
  font: var(--base-font-size);
}

.bundle-landing-badge-Bestseller, .bundle-landing-badge-bestseller {
  background-color: yellow;
  color: black;
}

.bundle-landing-badge-Beginner,
.bundle-landing-badge-beginner,
.bundle-landing-badge-Intermediate,
.bundle-landing-badge-intermediate,
.bundle-landing-badge-enrolled {
  background-color: rgb(59, 255, 88);
  color: black;
}

.bundle-landing-badge-Advance,
.bundle-landing-badge-advance {
  background-color: rgb(255, 0, 0);
  color: white;
}

.bundle-rating-star-container {

}

.bundle-rating-star {
  color: red;
}

.bundle-landing-section-title {
  margin: 24px 0px;
  font: var(--subsection-title);
  text-align: left;
  color: var(--c100);
}

.bundle-landing-highlights-container,
.bundle-landing-learnings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 8px;
  flex: 1 1 100%;
}

.bundle-landing-learnings-container {
  padding: 4px;
  /* border: 1px solid black; */
  /* background-color: rgb(243, 243, 243); */
}

.bundle-landing-highlight {
  flex: 1 0 45%;
  max-width: 50%;
  /* padding: 1px 0px; */
  text-align: left;
  display: inline-flex;
}

.bundle-landing-videomessage-container {
  flex: 1 1 100%;
}

.bundle-landing-icon {
  display: inline-flex;
  padding-top: 2px;
}

.bundle-landing-learning {
  display: inline-flex;
  flex: 1 1 45%;
  max-width: 50%;
}

.bundle-course-collection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex: 1 1 100%;
  justify-content: center;
}

.bundle-course-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 1 30%;
  max-width: 30%;
  border-radius: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  box-shadow: 0px 0px 2px 0px var(--prebgcolor);
  background-color: var(--dimcolor);
  transition-duration: 0.5s;

  img {
    display: block;
    border-radius: 10px 10px 0 0;
  }
}

.bundle-course-card:hover {
  box-shadow: 0px 0px 4px 0px var(--prebgcolor);
  cursor: pointer;
  transform: scale(1.025);
}

.bundle-course-card-cover {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.bundle-course-card-title {
  font-weight: bold;
  margin: 4px 0px;
  padding: 0px 8px;
  font-size: var(--base-font-size);
  text-align: center;
}

.bundle-course-card-description {
  font-size: var(--card-description-font-size);
  padding: 0px 8px 8px 8px;
}

.bundle-course-sample-certificate {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding: 8px;
  justify-content: center;

  figure {
    flex: 1 1 100%;
    min-width: 100%;
  }
}

.bundle-course-sample-certificate-caption {
  flex: 1 1 100%;
  padding-top: 8px;
  min-width: 100%;
  text-align: center;
}

:focus {
    outline: none;
}

.bundle-landing-course-details-dialog-container {
  width: 600px;
  max-height: 90vh;
  padding: 0px;
  background-color: var(--bgcolor);
  color: var(--fontcolor);
}

.bundle-landing-course-details-dialog-container::backdrop {
  background-color: hsl(0 0% 0% / 0.5);
}

.bundle-landing-dialog-details {
  display: flex;
  flex-wrap: wrap;
}

.bundle-landing-dialog-details-description {
  flex: 1 1 100%;
  min-width: 100%;
}

.bundle-landing-dialog-nav, .bundle-landing-dialog-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--theme-primary);
  text-align: center;
  cursor: pointer;
  color: var(--fontcolor);
  font-weight: bold;
  text-decoration: none !important;
}

.bundle-landing-dialog-nav {
  border-bottom: 1px solid var(--linecolor);
}

.bundle-landing-dialog-footer {
  position: sticky;
  bottom: 0px;
  border-top: 1px solid var(--linecolor);
}

.bundle-landing-dialog-footer:hover {
  text-decoration: none;
}

.bundle-landing-course-details-dialog-title {
  flex: 1 1 100%;
  min-width: 100%;
  text-align: center;
  color: var(--c100);
  font: var(--dialog-title);
}

.bundle-landing-course-details-dialog-section-container {
  flex: 1 1 100%;
  border: 1px var(--linecolor) solid;
  background-color: var(--dimcolor);
  padding: 8px;
  margin: 8px;
}

.bundle-landing-course-details-dialog-section-title {
  flex: 1 1 100%;
  font: var(--dialog-section-title);
  min-width: 100%;
  color: var(--c80);
  border-bottom: 1px var(--linecolor) solid;
}

.bundle-landing-course-details-dialog-section-description {
  flex: 1 1 100%;
  font: var(--fNormal);
  color: var(--c80);
  min-width: 100%;
  margin: 8px 0px;
}

.bundle-landing-course-details-dialog-section-chapter {
  display: inline-flex;
  font: var(--fNormal);
  min-width: 100%;
  color: var(--c100);
  /* font-weight: bold; */
}

.bundle-landing-footer-sticky {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--bgcolor);
  position: sticky;
  bottom: 0px;
  align-items: center;
  z-index: 2;
  margin-top: 10px;
  border-top: 1px solid var(--linecolor);
  align-self: flex-start;
  margin: 0px;
  width: 100%;
}

.bundle-landing-footer-sticky-text {
  flex: 1 1 100%;
  margin: 0px;
  padding: 8px 4vw;
  text-align: center;

  font-size: var(--base-font-size);
  color: var(--fontcolor);

  b {
    color: var(--fontcolor);
  }
  code {
    font-size: var(--base-font-size);
  }
}

.bundle-landing-footer-sticky-ctas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 4px;
  /* padding: 16px; */
  a {
    text-decoration: none;
    flex: 1 1 100%;
    width: 100%;

    button {
      margin: 0 0 8px 0;
    }
  }
}

.bundle-landing-footer-sticky-cta-button {
  flex: 1 1 100%;
  min-width: 100%;
  height: 42px;
  font-size: var(--base-font-size);
  border-radius: 0px;
  background-color: var(--bgcolor);
  border-color: var(--prebgcolor);
}

.bundle-landing-footer-sticky-cta-button:hover {
  background-color: var(--cafe);
}

.bundle-landing-footer-sticky-cta-button:active {
  transform: translateY(1px);
}

.bundle-landing-footer-sticky-cta-button-primary {
  background-color: var(--theme-primary);
}


.bundle-landing-instructors-containter {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  align-items: start;
  min-width: 100%;
}

.bundle-landing-instructor-card {
  flex: 1 1 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  max-width: 50%;
}

.bundle-sidebar-card-title {
  flex: 1 1 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}

.bundle-sidebar-card-subtitle {
  flex: 1 1 100%;
  text-align: center;
  font-size: var(--base-font-size);
}

.bundle-landing-instructor-bio-container {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.bundle-landing-instructor-bio-image {
  flex: 1 1 auto;
  max-width: 5rem;
  img {
    border: 1px var(--linecolor) solid;
    border-radius: 50%;
  }
}

.bundle-landing-instructor-bio-text-container {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.bundle-landing-instructor-bio-name {
  flex: 1 1 100%;
  font-size: var(--base-font-size);
  font-weight: bold;
}

.bundle-landing-instructor-bio-designation, .bundle-landing-instructor-bio-orgs {
  flex: 1 1 100%;
  font-size: var(--base-font-size);
  font-weight: bold;
}

.bundle-landing-instructor-bio-details {
  flex: 1 1 100%;
  font-size: var(--base-font-size);
}

.bundle-landing-instructor-bio-links-container {
  flex: 1 1 100%;
  display: flex;
}

.bundle-landing-instructor-bio-links {
  margin-right: 4px;
}

.bundle-landing-todo {
  border: 1px dotted black;
  background-color: azure;
}

.bundle-sidebar-highlights-container {
  display: flex;
  padding: 16px;

  .bundle-landing-highlight {
    min-width: 100%;
  }
}

.bundle-landing-sidebar-cta {
  border-top: 1px var(--linecolor) solid;
  padding-top: 8px;
  display: flex;
}

.bundle-landing-faqs {

}

.bundle-landing-faq-q, .bundle-landing-faq-a {
  margin: 0px;
  padding: 0px;
}

.bundle-landing-toc-entry {
  border: 1px solid var(--linecolor);
  margin: 8px 0px;;
}

.bundle-landing-toc-content {
  margin: var(--padding);
}

.bundle-landing-toc-entry-details > summary {
  padding: var(--padding);
  background-color: var(--theme-primary);
}

.bundle-landing-toc-entry-details[open] > summary {
  border: none;
  border-bottom: 1px solid var(--linecolor);
  position: sticky;
  top: 0px;
}

.bundle-landing-toc-entry-details-title {
  font-weight: bold;
  background-color: var(--c70);
  color: var(--c0);
  padding: var(--padding);
}

.bundle-landing-toc-entry-details-chapter-list {
  padding-left: var(--padding);
}

.bundle-landing-toc-entry-title {
  display: inline;
  padding-left: 8px;
  font: var(--toc-title-size);
  color: var(--c100) !important;
  text-decoration: none;
}

.bundle-landing-toc-entry-title:visited {
  color: var(--c100);
}

@media screen and (max-width: 771px) {
  .bundle-info-container,
  .bundle-sidebar-card,
  .bundle-course-card,
  .bundle-landing-highlight,
  .bundle-landing-learning,
  .bundle-landing-instructor-card,
  .bundle-landing-course-details-dialog-container  {
    min-width: 100%;
  }

  .bundle-landing-course-details-dialog-container {
    max-height: 90vh;
  }

  .bundle-sidebar-card {
    display: none;
  }

  .bundle-course-card {
    min-width: 47%;
  }
}

@media (min-width: 771px) and (max-width: 1366px) {
  .bundle-container {
    width: 100%;
    margin: auto;
  }

  .bundle-info-container {
  min-width: 100%;
  }

  .bundle-sidebar-card {
    display: none;
  }

  .bundle-course-card {
    min-width: 30%;
  }
}
