:root {
  --padding: 8px;
  --color-border: rgb(0, 0, 0);

  --base-font-size: clamp(13px, 1cqi, 16px);
  --title-font-size: clamp(32px, 4cqi, 48px);

  --subtitle-font-size: clamp(16px, 1.25cqi, 20px);
  --section-itle-font-size: clamp(28px, 1.25cqi, 40px);
  --text-font-size: clamp(12px, 2cqi, 16px);
  --card-title-font-size: clamp(12px, 3cqi, 16px);
  --section-margin: clamp(64px, 10cqi, 280px);

}

html {
  scrollbar-gutter: stable;
}

html:has(dialog[open]) {
  overflow: hidden;
}

div {
  font-size: var(--base-font-size);
}

.bundle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0px;
}

.bundle-info-container {
  flex: 1 0 70%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 255, 224); */
  justify-content: center;
}

.bundle-sidebar-card {
  flex: 1 0 25%;
  align-self: flex-start;
  position: sticky;
  top: 10px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0 0 5px 0px var(--linecolor);

  img {
    border-radius: 5px 5px 0px 0px;
  }
}

.bundle-landing-title {
  flex: 1 1 100%;
  text-align: center;
  font-size: var(--title-font-size);
}

.bundle-landing-subtitle {
  flex: 1 1 100%;
  text-align: center;
  margin: 4px;
}

.bundle-divider-line {
  flex: 1 1 100%;
  width: 100%;
}

.bundle-landing-introduction {
  flex: 1 1 100%;
  text-align: center;
  padding: var(--padding);
}

.bundle-landing-badge-container, .bundle-landing-rating-student-count-container,
.bundle-landing-general-info-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: var(--padding) 0px;
  justify-content:center;
  gap: 8px;
  width: 100%;
}

.bundle-landing-badge {
  border: 1px solid var(--color-border);
  padding: 1px 2px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.bundle-landing-badge-Bestseller, .bundle-landing-badge-bestseller {
  background-color: yellow;
  color: black;
}

.bundle-landing-badge-Beginner,
.bundle-landing-badge-beginner,
.bundle-landing-badge-Intermediate,
.bundle-landing-badge-intermediate,
.bundle-landing-badge-enrolled {
  background-color: rgb(59, 255, 88);
  color: black;
}

.bundle-landing-badge-Advance,
.bundle-landing-badge-advance {
  background-color: rgb(255, 0, 0);
  color: white;
}

.bundle-rating-star-container {

}

.bundle-rating-star {
  color: red;
}

.bundle-landing-section-title {
  font-size: var(--section-itle-font-size);
  font-weight: bold;
  margin: 40px 0px 20px 0px;
  text-align: left;
}

.bundle-landing-highlights-container,
.bundle-landing-learnings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1 1 100%;
}

.bundle-landing-learnings-container {
  padding: 4px;
  /* border: 1px solid black; */
  /* background-color: rgb(243, 243, 243); */
}

.bundle-landing-highlight {
  flex: 1 0 45%;
  max-width: 50%;
  /* padding: 1px 0px; */
  text-align: left;
  display: inline-flex;
}

.bundle-landing-videomessage-container {
  flex: 1 1 100%;
}

.bundle-landing-icon {
  display: inline-flex;
  padding-top: 2px;
}

.bundle-landing-learning {
  display: inline-flex;
  flex: 1 1 45%;
  max-width: 50%;
}

.bundle-course-collection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1 1 100%;
  justify-content: center;
}

.bundle-course-card {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 22.5%;
  max-width: 22.5%;
  border-radius: 12px;
  justify-content: flex-start;
  align-content: flex-start;
  box-shadow: 0 0 2px 0px var(--linecolor);
  div {
    font-size: 12px !important;
  }

  img {
    border-radius: 10px 10px 0 0;
  }
}

.bundle-course-card:hover {
box-shadow: 0 0 10px 0 var(--linecolor);
cursor: pointer;
}

.bundle-course-card-cover {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.bundle-course-card-title {
  font-weight: bold;
  margin: 4px 0px;
  font-size: 14px;
  text-align: center;
  min-width: 100%;
}

.bundle-course-card-description {
  font-size: 12px;
  padding: 0px 8px 8px 8px;
}

.bundle-course-sample-certificate {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding: 8px;
  justify-content: center;

  figure {
    flex: 1 1 100%;
    min-width: 100%;
  }
}

.bundle-course-sample-certificate-caption {
  flex: 1 1 100%;
  padding-top: 8px;
  min-width: 100%;
  text-align: center;
}

:focus {
    outline: none;
}

.bundle-landing-course-details-dialog-container {
  width: 600px;
  max-height: 90vh;
  padding: 0px;
  background-color: var(--bgcolor);
  color: var(--fontcolor);
}

.bundle-landing-course-details-dialog-container::backdrop {
  background-color: hsl(0 0% 0% / 0.25);
  backdrop-filter: blur(2px);
}

.bundle-landing-dialog-details {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.bundle-landing-dialog-details-description {
  flex: 1 1 100%;
  min-width: 100%;
}

.bundle-landing-dialog-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--theme-primary);
  box-shadow: 0px 0px 2px 0px var(--linecolor);
  text-align: center;
  cursor: pointer;
  /* margin: 16px; */
  color: var(--fontcolor);
  font-weight: bold;
  position: sticky;
  top: 0px;
}

.bundle-landing-course-details-dialog-title {
  flex: 1 1 100%;
  font-size: 28px;
  font-weight: bold;
  min-width: 100%;
  margin-top: 16px;
  text-align: center;
  color: var(--fontcolor);
}

.bundle-landing-course-details-dialog-section-container {
  flex: 1 1 100%;
  border: 1px var(--linecolor) solid;
  padding: 8px;
  margin: 8px;
}

.bundle-landing-course-details-dialog-section-title {
  flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
  min-width: 100%;
  color: var(--fontcolor);
  border-bottom: 1px var(--linecolor) solid;
  padding-bottom: 4px;
}

.bundle-landing-course-details-dialog-section-description {
  flex: 1 1 100%;
  font-size: 14px;
  min-width: 100%;
  margin: 8px 0px;
}

.bundle-landing-course-details-dialog-section-chapter {
  display: inline-flex;
  /* flex: 1 1 100%; */
  font-size: 16px;
  min-width: 100%;
  color: var(--linkcolor);
}

.bundle-landing-footer-sticky {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--bgcolor);
  position: sticky;
  bottom: 0px;
  align-items: center;
  z-index: 2;
  margin-top: 10px;
  border-top: 1px solid var(--linecolor);
  align-self: flex-start;
  margin: 0px;
  width: 100%;
}

.bundle-landing-footer-sticky-text {
  flex: 1 1 100%;
  margin: 0px;
  padding: 8px 4vw;
  text-align: center;

  font-size: var(--text-font-size);
  color: var(--fontcolor);

  b {
    color: var(--fontcolor);
  }
  code {
    font-size: var(--text-font-size);
  }
}

.bundle-landing-footer-sticky-ctas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 4px;
  /* padding: 16px; */
  a {
    text-decoration: none;
    flex: 1 1 100%;
    width: 100%;

    button {
      margin: 0 0 8px 0;
    }
  }
}

.bundle-landing-footer-sticky-cta-button {
  flex: 1 1 100%;
  min-width: 100%;
  height: 42px;
  font-size: var(--text-font-size);
  border-radius: 10px;
  background-color: var(--bgcolor);
  /* border-color: var(--theme-primary); */
  border: none;
  box-shadow: 0px 0px 2px 0px var(--linecolor);
}

.bundle-landing-footer-sticky-cta-button-primary {
  background-color: var(--theme-primary);
  /* border: var(--theme-primary); */
}

.bundle-landing-instructors-containter {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  align-items: start;
  min-width: 100%;
}

.bundle-landing-instructor-card {
  flex: 1 1 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  max-width: 50%;
}

.bundle-sidebar-card-title {
  flex: 1 1 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}

.bundle-sidebar-card-subtitle {
  flex: 1 1 100%;
  text-align: center;
  font-size: 14px;
}

.bundle-landing-instructor-bio-container {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.bundle-landing-instructor-bio-image {
  flex: 1 1 auto;
  max-width: 5rem;
  img {
    border: 1px var(--linecolor) solid;
    border-radius: 50%;
  }
}

.bundle-landing-instructor-bio-text-container {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.bundle-landing-instructor-bio-name {
  flex: 1 1 100%;
  font-size: 20px;
  font-weight: bold;
}

.bundle-landing-instructor-bio-designation, .bundle-landing-instructor-bio-orgs {
  flex: 1 1 100%;
  font-size: 14px;
  font-weight: bold;
}

.bundle-landing-instructor-bio-details {
  flex: 1 1 100%;
  font-size: 14px;
}

.bundle-landing-instructor-bio-links-container {
  flex: 1 1 100%;
  display: flex;
}

.bundle-landing-instructor-bio-links {
  margin-right: 4px;
}

.bundle-landing-todo {
  border: 1px dotted black;
  background-color: azure;
}

.bundle-sidebar-highlights-container {
  display: flex;
  padding: 16px;

  .bundle-landing-highlight {
    min-width: 100%;
  }
}

.bundle-landing-sidebar-cta {
  border-top: 1px var(--linecolor) solid;
  padding-top: 8px;
  display: flex;
}

@media screen and (max-width: 771px) {
  .bundle-info-container,
  .bundle-sidebar-card,
  .bundle-course-card,
  .bundle-landing-highlight,
  .bundle-landing-learning,
  .bundle-landing-instructor-card,
  .bundle-landing-course-details-dialog-container  {
    min-width: 100%;
  }

  .bundle-landing-course-details-dialog-container {
    min-height: 90vh;
  }

  .bundle-sidebar-card {
    display: none;
  }

  .bundle-course-card {
    min-width: 47%;
  }
}

@media (min-width: 771px) and (max-width: 1366px) {
  .bundle-container {
    width: 771px;
    margin: auto;
  }

  .bundle-info-container {
  min-width: 100%;
  }

  .bundle-sidebar-card {
    display: none;
  }

  .bundle-course-card {
    min-width: 30%;
  }
}
